/* font-family: 'Vidaloka', serif;
font-family: 'Raleway', sans-serif; */

.ingredients li {
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}
.ingredients span {
  font-size: 20px;
}

.instructions li {
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
  text-align: left;
}
.instructions span {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}

